<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:label="Veyra"
        android:theme="@style/Theme.Veyra"
        android:icon="@mipmap/veyra_logo"
        android:requestLegacyExternalStorage="true" >

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.notifications.NotificationService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <service
            android:name=".service.VeyraMediaService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">

            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>

            <meta-data
                android:name="android.media.session"
                android:value="true" />
        </service>

        <receiver
            android:name=".service.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_REWIND_10" />
                <action android:name="ACTION_SKIP_PREV" />
                <action android:name="ACTION_PLAY_PAUSE" />
                <action android:name="ACTION_SKIP_NEXT" />
                <action android:name="ACTION_FORWARD_10" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.widget.WidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/veyra_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Veyra.UCrop" />

        <activity
            android:name=".AudioPreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.Veyra.AudioPreview">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="audio/*" />
            </intent-filter>

        </activity>
    </application>
</manifest>
